# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
crash.log
crash.*.log

# Ansible
*.retry
ansible/inventories/*.yml
!ansible/inventories/*.example.yml
ansible/group_vars/*.yml
!ansible/group_vars/*.example.yml
ansible/.vault_pass
*.vault

# SSH / secrets
*.pem
*.key
id_rsa*
id_ed25519*
.env
.env.*

# OS
.DS_Store
Thumbs.db
